lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*~

# we generate lib dir from transpiled src/
lib
dist
pids
logs
results
var/test
purgatory
node_modules
npm-debug.log
*.sublime-project
*.sublime-workspace